* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Grid Containter */

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

/* Base Element Styles - "Mobile Media Query"*/

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666666;
  letter-spacing: 1px;
  width: 100%;
}

h1 {
  font-size: 21px;
  padding: 10px;
  font-weight: 100;
}

input {
  width: 100%;
  padding: 4px 10px;
  font-size: 12px;
  border: lightgray 2px solid;
  border-radius: 5px;
  line-height: 2em;
}

header {
  display: flex;
  grid-area: header;
  height: 100px;
  background-color: #7477bf;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.notifications {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.alertIcon {
  fill: white;
  height: 25px;
  width: 25px;
}

.member-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

.bar {
  font-size: 24px;
  font-weight: 100;
  color: #4d4c72;
  padding-left: 16px;
}

.name {
  font-weight: 100;
  text-align: center;
  font-size: 16px;
}

/* Profile Picture */
.img-member {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 8px;
}

/* Navigation Buttons */

.navigation {
  grid-area: navigation;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  height: 50px;
  background-color: #4d4c72;
}

.nav-icon {
  height: 30px;
  width: 30px;
  padding: 5px;
  margin: 5px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-header-search {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  background-color: #eee;
  color: black;
  padding: 15px;
  border-radius: 0 0 0 5px;
}

.headline {
  color: black;
  margin: 20px;
}

.main {
  grid-area: main;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 15px;
}

.traffic,
.daily-traffic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: column;
}

.platform-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #d1d1d1;
  background-color: #fbfbfb;
  color: #666666;
  border-radius: 10px;
  margin: 10px;
}

.social-image {
  background-color: #7377bf;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 10px;
  margin: 10px;
}

.social-svg {
  fill: white;
  stroke: #7377bf;
  width: 100%;
}

.social-text {
  align-self: center;
}

.social-text :first-child {
  color: #7377bf;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.social-text :nth-child(2) {
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
}

/* Members Container */
.members-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #d1d1d1;
  margin: 5px;
}

.profile-image {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 5px;
  border: #d1d1d1 0.5px solid;
}

.members-text,
.activity-text {
  display: flex;
  flex-direction: column;
  color: #808080;
  margin-left: 5px;
}

.date {
  font-size: 12px;
  letter-spacing: 0.25px;
  margin-left: auto;
}

.members-text a {
  text-decoration: none;
  color: #7377bf;
}

/* Activity  Container */
.activity-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #d1d1d1;
  margin: 5px;
}

/* Messaging Area */
.widget-container-full,
.widget-container-half {
  width: 95vw;
}

.widget-container {
  width: 100%;
}

.widget-container input,
.form-area {
  background-color: #fbfbfb;
  font-size: 12px;
  border: lightgray 1px solid;
  border-radius: 5px;
  line-height: 2em;
  display: block;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
}

.form-area {
  height: 20vh;
  font-family: "Roboto", sans-serif;
}

#timezone {
  font-family: "Roboto", sans-serif;
  color: #808080;
  background-color: #fbfbfb;
  font-size: 12px;
  border: lightgray 1px solid;
  border-radius: 5px;
  line-height: 2em;
  display: block;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
}

.button-primary,
.button-disabled {
  background-color: #7377bf;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: 95%;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

.button-disabled {
  background-color: #b2b2b2;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* Media Queries: Tablet ----- */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .navigation {
    grid-column: 1 / span 7;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .main {
    grid-template-columns: 50%;
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}

@media (min-width: 1024px) {
  .main {
    display: grid;
  }

  .main {
    grid-template-columns: 50%;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}
